In [ ]:
Q1. In the below elements which of them are values or an expression? eg:- values can be
integer or string and expressions will be mathematical operators.

*   expressions
'hello'  value
-87.8 value
-  expressions
/  expressions
+  expressions
6  value

In [5]:
# Q2. The difference between a string and a variable is fundamental in programming:

# * A string is data type used to represent text.
# * It is usually written inside quotes(single,double or triple)
         "hello,world"
          '123'
     
# * A variable is a named container used to store data ( string,number,list)
# * you cam assign a string to a variable.
message = "i am learning python"
print(message)

i am learning python

In [ ]:
Q3.Describe three different data types.

Inetger (int)
*Represents whole numbers (positive or negative) without decimals.
*Used for counting, indexing, math, etc.
example =  6,-3


String (str)
*Represents a sequence of characters, such as words or sentences.
*Enclosed in single (') or double (") quotes.
example =  "gaurav"
            'i am a good boy'


Float (float) 
*Represents decimal numbers (numbers with a fractional part).
*Used in measurements, calculations involving fractions, etc.
example = 654.87, 
         -98.57

Q4.What is an expression made up of? What do all expressions do?

*An expression in programming is made up of values, variables, and operators that can be evaluated to produce another value.
* All expressions evaluate to a value.This means when Python runs an expression, it computes and returns a result.
example = 2 + 3    Evaluates to 5
     "Hi " + "there"  Evaluates to "Hi there"

In [14]:
# Q.5This assignment statements, like spam = 10. What is the difference between anexpression and a statement?

# Expression
# *An expression is a piece of code that evaluates to a value.
# *It can be part of a statement.
# *Always returns something (a number, string, etc.).
# example = 
8 + 1
"hello"+"!"

'hello!'

In [ ]:
Statement
*A statement is a complete instruction that does something.
*It may contain expressions.
*Does not return a value, it performs an action.
example =
x = 10
print("hello")

In [ ]:
Q.6After running the following code, what does the variable bacon contain?
bacon = 22
bacon + 1

In [17]:
bacon = 22
print(bacon + 1)

23

In [19]:
bacon = bacon+1

In [20]:
bacon

24

In [23]:
# Q.7What should the values of the following two terms be?
'spam' + 'spamspam'
'spam'*3

'spamspamspam'

In [ ]:
Q8.Why is eggs a valid variable name while 100 is invalid?


eggs is a valid variable name because:
*It starts with a letter (which is allowed).
*It only contains letters (also allowed).
*It follows the rules for identifiers in Python.
example= eggs, spam123

                     
100 is an invalid variable name because:
*It starts with a number, which is not allowed for variable names in Python.
*Variable names cannot begin with a digit.
example= 100, 2beOrNot

In [ ]:
Q9.What three functions can be used to get the integer, floating-point number, or stringversion of a value?


1. int()
Converts a value to an integer.
Example: int('5') → 5

2. float()
Converts a value to a floating-point number.
Example: float('5.7') → 5.7

3. str()
Converts a value to a string.

Example: str(7) → '7'

Q10.Why does this expression cause an error? How can you fix it?'I have eaten' + 99 +'burritos'

In [24]:
'I have eaten'+ str(99) +'burritos'

'I have eaten99burritos'